<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937969185196-1shatmi7a73cjl59ng52ke7tk55c5s0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937969185196-1shatmi7a73cjl59ng52ke7tk55c5s0q</string>
	<key>API_KEY</key>
	<string>AIzaSyALbViDstwn8YuLNdXNBu6z5o4Pt23ZJhk</string>
	<key>GCM_SENDER_ID</key>
	<string>937969185196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramDemoApp</string>
	<key>PROJECT_ID</key>
	<string>instagramclonef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclonef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937969185196:ios:08659ec636f80eecbf0a09</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclonef-default-rtdb.firebaseio.com</string>
</dict>
</plist>